@import './init.css';
@import './fonts.css';

body {
  height: 100vh;
  width: 100vw;
  background-color: #d0d4da;
  font-family: 'MF MiMeng', 'Fira Code', 'Microsoft YaHei', 'PingFang SC', sans-serif;
  user-select: none;
}

#app {
  width: 100%;
  height: 100vh;
}

.font-en {
  font-family: 'Fira Code', monospace;
}

/* Electron 无框窗口拖拽区域 */
.drag {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
