/* @import './base.css'; */
@import './init.css';

@font-face {
  font-family: 'MF MiMeng';
  src: url('./fonts/MFMiMeng_Noncommercial-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/ttf/FiraCode-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/ttf/FiraCode-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/ttf/FiraCode-Retina.ttf') format('truetype');
  font-style: normal;
  font-weight: 450;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/ttf/FiraCode-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/ttf/FiraCode-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./fonts/ttf/FiraCode-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  height: 100vh;
  width: 100vw;
  /* display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; */
  /* background: transparent; */
  background-color: #d0d4da;
  font-family: 'MF MiMeng', 'Fira Code', 'Microsoft YaHei', 'PingFang SC', sans-serif;
  user-select: none;
  -webkit-app-region: drag;
}

#app {
  width: 100%;
  height: 100vh;
}

.font-en {
  font-family: 'Fira Code', monospace;
}
